<!DOCTYPE html>

<html>
    <head>
        <title>Calendar</title>
        <meta charset="UTF-8">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <link rel="stylesheet" href="css/style.min.css"/>
    </head>
    <body>
        <div id="calendar"></div>

        <!-- Templates -->

        <script type="text/template" id="calendarControl-template">
            <div class="col-md-6">
                <div class="pull-left">
                    <button id="setToday" class="btn btn-default">Сегодня</button>
                    <button id="prevDate" class="btn btn-default">
                        <span class="glyphicon glyphicon-chevron-left"></span>
                    </button>
                    <span class="calendar-current"><%- date %></span>
                    <button id="nextDate" class="btn btn-default">
                        <span class="glyphicon glyphicon-chevron-right"></span>
                    </button>
                </div>
            </div>
            <div class="col-md-6">
                <div class="btn-group pull-right">
                    <button id="viewDay" class="btn btn-default <% if (view === 'day') { %> active <% } %>">День</button>
                    <button id="viewWeek" class="btn btn-default <% if (view === 'week') { %> active <% } %>">Неделя</button>
                    <button id="viewMonth" class="btn btn-default <% if (view === 'month') { %> active <% } %>">Месяц</button>
                </div>
            </div>
        </script>

        <script type="text/template" id="calendarViewDay-template">
            <table>
                <thead>
                    <th colspan="2"><%- date %></th>
                </thead>
                <tbody>
                    <%
                        var date;
                        var hour;
                        var hours;
                        for (hour = 0; hour < 24; hour++) {
                            hours = '';
                            if (hour < 10) hours = '0';
                            hours += hour+':00-';
                            if (hour < 9) hours += '0';
                            if (hour < 23) {
                                hours += hour + 1 + ':00';
                            } else {
                                hours += '00:00';
                            }
                    %>
                    <tr>
                        <td><%- hours %></td>
                        <td></td>
                    </tr>
                    <% } %>
                </tbody>
            </table>
        </script>

        <script type="text/template" id="calendarViewWeek-template">
            <table>
                <thead>
                    <th></th>
                    <%
                        var dayOfWeek;
                        var days = {
                            "0" : {"date" : "1" },
                            "1" : {"date" : "2" },
                            "2" : {"date" : "3" },
                            "3" : {"date" : "4" },
                            "4" : {"date" : "5" },
                            "5" : {"date" : "6" },
                            "6" : {"date" : "7" },
                        };
                        for(dayOfWeek in days) {
                            console.log(dayOfWeek);
                    %>
                        <th><%- dayOfWeek %></th>
                    <%  } %>
                </thead>
                <tbody>
                    <%
                        var date;
                        var hour;
                        var hours;
                        for (hour = 0; hour < 24; hour++) {
                            hours = '';
                            if (hour < 10) hours = '0';
                            hours += hour+':00-';
                            if (hour < 9) hours += '0';
                            if (hour < 23) {
                                hours += hour + 1 + ':00';
                            } else {
                                hours += '00:00';
                            }
                    %>
                    <tr>
                        <td><%- hours %></td>
                        <td></td>
                        <td></td>
                        <td></td>
                        <td></td>
                        <td></td>
                        <td></td>
                        <td></td>
                    </tr>
                    <% } %>
                </tbody>
            </table>
        </script>

        <script type="text/template" id="calendarViewMonth-template">
            <table>
            <thead>
                <th colspan="8">Месяц</th>
            </thead>
            <tbody>
                <tr>
                    <td></td>
                    <td></td>
                    <td></td>
                    <td></td>
                    <td></td>
                    <td></td>
                    <td></td>
                    <td></td>
                </tr>
            </tbody>
            </table>
        </script>

        <script src="js/app.min.js"></script>



    </body>
</html>
