<!DOCTYPE html>

<html>
    <head>
        <title>Calendar</title>
        <meta charset="UTF-8">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <link rel="stylesheet" href="css/style.min.css"/>
    </head>
    <body>
        <div id="calendar"></div>

        <!-- Templates -->

        <script type="text/template" id="calendarControl-template">
            <div class="col-md-6">
                <div class="pull-left">
                    <button id="setToday" class="btn btn-default">Сегодня</button>
                    <button id="prevDate" class="btn btn-default">
                        <span class="glyphicon glyphicon-chevron-left"></span>
                    </button>
                    <span class="calendar-current"><%- date %></span>
                    <button id="nextDate" class="btn btn-default">
                        <span class="glyphicon glyphicon-chevron-right"></span>
                    </button>
                </div>
            </div>
            <div class="col-md-6">
                <div class="btn-group pull-right">
                    <button id="viewDay" class="btn btn-default <% if (view === 'day') { %> active <% } %>">День</button>
                    <button id="viewWeek" class="btn btn-default <% if (view === 'week') { %> active <% } %>">Неделя</button>
                    <button id="viewMonth" class="btn btn-default <% if (view === 'month') { %> active <% } %>">Месяц</button>
                </div>
            </div>
        </script>

        <script type="text/template" id="calendarViewDay-template">
            <table class="table calendar-view calendar-view--day">
                <tbody></tbody>
            </table>
        </script>

        <script type="text/template" id="calendarViewWeek-template">
            <table class="table calendar-view calendar-view--week">
                <thead>
                    <th></th>
                    <th>Понедельник</th>
                    <th>Вторник</th>
                    <th>Среда</th>
                    <th>Четверг</th>
                    <th>Пятница</th>
                    <th>Суббота</th>
                    <th>Воскресенье</th>
                </thead>
                <tbody></tbody>
            </table>
        </script>

        <script type="text/template" id="calendarViewMonth-template">
            <table class="table table-bordered calendar-view calendar-view--month">
                <thead>
                    <th>Понедельник</th>
                    <th>Вторник</th>
                    <th>Среда</th>
                    <th>Четверг</th>
                    <th>Пятница</th>
                    <th>Суббота</th>
                    <th>Воскресенье</th>
                </thead>
                <tbody class="js-calendarBody"></tbody>
            </table>
        </script>

        <script type="text/template" id="hourViewDay-template">
            <td><%- hours %></td>
            <td class="js-EventContainer"></td>
        </script>

        <script type="text/template" id="dayViewMonth-template">
            <%- day %><span class="js-EventContainer"></span>
        </script>

        <script src="js/app.min.js"></script>



    </body>
</html>
